
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 4em;
}


.row {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.square{
    
    width: 100px;
    flex-grow: 1;
    outline: 1px solid black;
}

.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
   
    
  
}

button{
    border: none;
    padding: 1em 2em;
    border-radius: 1em;
    cursor:pointer;
    font-size: 1rem;
    font-weight: 600;
}

