
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.row {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.square{
    
    width: 100px;
    flex-grow: 1;
    outline: 1px solid black;
}

.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    
  
}